<app-header></app-header>
<!-- Team Section Start -->
<div id="rs-team" class="rs-team style1 orange-color pt-94 pb-100 md-pt-64 md-pb-70 white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/1.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">Dr. Jatin Patel</a></h4>
                        <span class="designation">Principal</span>
                        <ul class="social-links">
                            <li>Joining Date : 21/7/2005</li>
                            <li>Qualification : Ph.D. Chemistry</li>
                            <li>Contact No : 9825355242</li>
                            <li>Email ID : principal@sanppgi.ac.in</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/2.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Rajesh Patel</a></h4>
                        <span class="designation">Associate Professor And Head</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 05/10/2007</li>
                            <li>Qualification	:	 Ph.D. Chemistry</li>
                            <li>Email ID	:	 dr.rjpatel31@yahoo.in</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/3.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Amitkumar Dholakia</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 14/6/2010</li>
                            <li>Qualification	:	 Ph.D. Chemistry</li>
                            <li>Email ID	:	 dholkia_amit@yahoo.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/4.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Vishant Patel</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 11/7/2011</li>
                            <li>Qualification	:	 Ph.D. Chemistry</li>
                            <li>Email ID	:	 vish.ckpatel@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/5.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Darshan Patel</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 01/7/2013</li>
                            <li>Qualification	:	 Ph.D. Industrial Chemistry</li>
                            <li>Email ID	:	 darshanswami@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/6.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Zarna Patel</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 08/7/2014</li>
                            <li>Qualification	:	 Ph.D. Chemistry</li>
                            <li>Email ID	:	 zarnapatel211@yahoo.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/7.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Dr. Jemin Avlani</a></h4>
                        <span class="designation">Associate Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 10/7/2014</li>
                            <li>Qualification	:	 Ph.D. Chemistry</li>
                            <li>Email ID	:	 jemin.avalani@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/8.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Mrugisha Patel</a></h4>
                        <span class="designation">Assistant Professor</span>
                        <ul class="social-links">
                            <li>Joining Date	:	 01/7/2014</li>
                            <li>Qualification	:	 M.Sc. Chemistry</li>
                            <li>Email ID	:	 mrugishapatel@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/9.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">Dr. Ankit Patel</a></h4>
                        <span class="designation">Assistant Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 18/8/2017</li>
                            <li>Qualification : M.Sc., Ph.D. (Chemistry)</li>
                            <li>Email ID : ankit_kikh@yahoo.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/10.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">Priyal Soni</a></h4>
                        <span class="designation">Assistant Professor</span>
                        <ul class="social-links">
                            <li>Joining Date : 11/7/2018</li>
                            <li>Qualification : M.Sc. Chemistry</li>
                            <li>Email ID :  priyals378@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/11.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Mehul Patel</a></h4>
                        <span class="designation">Adhyapak Sahayak</span>
                        <ul class="social-links">
                            <li>Joining Date :  01/8/2019</li>
                            <li>Qualification : M.Sc. Chemistry</li>
                            <li>Email ID : mehul21791@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/12.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Kartik Mistry</a></h4>
                        <span class="designation">Adhyapak Sahayak</span>
                        <ul class="social-links">
                            <li>Joining Date : 01/8/2019</li>
                            <li>Qualification : M.Sc. (Chemistry)</li>
                            <li>Email ID : kartikmistry97@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/13.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Pritesh Thakor </a></h4>
                        <span class="designation">Adhyapak Sahayak</span>
                        <ul class="social-links">
                            <li>Joining Date : 11/7/2022</li>
                            <li>Qualification : M.Sc.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/14.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Mitesh Damor </a></h4>
                        <span class="designation">Adhyapak Sahayak</span>
                        <ul class="social-links">
                            <li>Joining Date :  11/7/2022</li>
                            <li>Qualification : M.Sc.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/15.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Aksha Parekh</a></h4>
                        <span class="designation">Lab Assistant</span>
                        <ul class="social-links">
                            <li>Joining Date : 07/8/2019</li>
                            <li>Qualification : M.Sc. (Chemistry)</li>
                            <li>Email ID	:	 akshuparekh26@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-30">
                <div class="team-item">
                    <img src="assets/images/cems/team/16.jpg" alt="">
                    <div class="content-part">
                        <h4 class="name"><a href="#">
                            Vishal Soni </a></h4>
                        <span class="designation">Lab Assistant</span>
                        <ul class="social-links">
                            <li>Joining Date : 14/7/2022</li>
                            <li>Qualification	:	 M.Sc. Organic Chemistry</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->
<app-footer></app-footer>