<app-header></app-header>
<div class="row">
    <div class="col-lg-1 col-md-1 mb-30"></div>
    <div class="col-lg-10 col-md-10 mb-30">
        <div class="degree-wrap mt-50" style="overflow-x:auto;">
            <!-- <h2>DEPARTMENT OF MEDICAL LABORATORY TECHNOLOGY</h2> -->
            <table>
                <tr>
                    <th>Source</th>
                    <th>Address</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>ICDL (International children’s digital library)</td>
                    <td>en.childrenslibrary.org</td>
                    <td>Digital library for children</td>
                </tr>
                <tr>
                    <td>IPL (Internet public library)</td>
                    <td>www.ipl.org</td>
                    <td>Resources by subjects, newspapers, special collection for kids, teens</td>
                </tr>
                <tr>
                    <td>BUBL LINK</td>
                    <td>bubl.ac.uk</td>
                    <td>Covering all subjects</td>
                </tr>
                <tr>
                    <td>All you can read.com</td>
                    <td>www.allyoucanread.com</td>
                    <td>Newspapers, magazines</td>
                </tr>
                <tr>
                    <td>BIZ/ED</td>
                    <td>www.bized.com</td>
                    <td>Financial accounting, management accounting, business studies etc</td>
                </tr>
                <tr>
                    <td>Discovery education</td>
                    <td>www.discoveryeducation.com
                    </td>
                    <td>Video’s, interactive, lesson plans for teachers.</td>
                </tr>
                <tr>
                    <td>Edutopia</td>
                    <td>www.edutopia.org</td>
                    <td>Teaching strategies, educational videos ,bolgs</td>
                </tr>
                <tr>
                    <td>Focus  english</td>
                    <td>www.focusenglish.com</td>
                    <td>To learn communicative English</td>
                </tr>
                <tr>
                    <td>B Pubs</td>
                    <td>www.bpubs.com</td>
                    <td>Commerce, economics and business publications</td>
                </tr>
                <tr>
                    <td>learnnext</td>
                    <td>www.learnnext.com</td>
                    <td>	
                        Lesson summary, practice papers, board papers, exam tips on CBSC pattern from class 6th-10th</td>
                </tr>
                <tr>
                    <td>Brightstorm</td>
                    <td>www.brightstorm.com</td>
                    <td>Video sharing</td>
                </tr>
                <tr>
                    <td>Math T.V</td>
                    <td>www.mathtv.com</td>
                    <td>Math lectures</td>
                </tr>
                <tr>
                    <td>School tube</td>
                    <td>www.schooltube.com</td>
                    <td>Video sharing</td>
                </tr>
                <tr>
                    <td>khanacademy</td>
                    <td>www.kahanacademy.org</td>
                    <td></td>
                </tr>
                <tr>
                    <td>About.com chemistry</td>
                    <td>www.chemistry.about.com</td>
                    <td>Chemistry topics on CBSE pattern</td>
                </tr>
                <tr>
                    <td>Spark notes</td>
                    <td>www.sparknotes.com</td>
                    <td>Covers all subjects, videos, test preprations</td>
                </tr>
                <tr>
                    <td>Meritnation.com (school made easy)</td>
                    <td>www.meritnation.com</td>
                    <td>Free registration..study material for BIO, Math, IITJEE,AIEEE,BBA etc</td>
                </tr>
                <tr>
                    <td>Read Book Online</td>
                    <td>www.readbookonline.net</td>
                    <td>Literature, books, novels, short stories, fiction, non fiction, poems & essays.</td>
                </tr>
                <tr>
                    <td>Reading Fanatic (Toolbar)</td>
                    <td>www.readingfanatic.com</td>
                    <td>A world of books. All in one toolbar. Find popular bestselling books. Free ebooks.</td>
                </tr>
                <tr>
                    <td>Read Any Book</td>
                    <td>www.readanybook.com</td>
                    <td>Online reading for free. Best fiction books.</td>
                </tr>
                <tr>
                    <td>Page by Page</td>
                    <td>www.pagebypagebooks.com</td>
                    <td>Page by page books. Read classic books online.</td>
                </tr>
                <tr>
                    <td>Forgotten Books</td>
                    <td>www.forgottenbooks.org</td>
                    <td>Contains millions of rare books in different categories like fiction, religion, philosophy, Social science, etc.</td>
                </tr>
                <tr>
                    <td>Famous Authors</td>
                    <td>www.famousauthors.org</td>
                    <td>Information about different authors and their works.</td>
                </tr>
                <tr>
                    <td>Allama Iqbal Urdu Cyber Library</td>
                    <td>www.iqbalcyberlibrary.net</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Poem Hunter</td>
                    <td>www.poemhunter.com</td>
                    <td>Poems and Biographies of poets</td>
                </tr>
                <tr>
                    <td>Public Book Shelf</td>
                    <td>www.publicbookshelf.com</td>
                    <td>Online books available including contemporary thrillers, inspirational books, etc.</td>
                </tr>
                <tr>
                    <td>Simply learnt</td>
                    <td>www.simplylearnt.com</td>
                    <td>Online practice papers for competitive exams like JEE, AIEEE, CAT, etc.</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 mb-30"></div>
</div>


<app-footer></app-footer>