<section class="focus-sector pt-5 pb-5">
    <div class="container">

        <!-- <div class="small-border" style="background:white;margin:0"></div> -->
        <div class="row">
            <div class="col-12 col-lg-12 mx-auto">
                <div class="title text-center">
                    <h2>Department</h2>

                </div>
            </div>
        </div>
        <div class="home-community-board__grid-wrapper">

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/cems/icon/1.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                        routerLink="/department/kg" routerLinkActive="active"
                            class="btn-link">&nbsp;Primary</a></p>
                </div>
            </div>

        </div>



    </div>

</section>
