<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-1 md-mb-50 mt-10"></div>
                    <!-- Content Column -->
                    <div class="col-lg-10 md-mb-50 mt-10">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">

                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>HOLIDAYS LIST</h4>
                                                <table>
                                                    <tr>
                                                        <th>FROM DATE</th>
                                                        <th>TO DATE</th>
                                                        <th>TOTAL DAYS OF HOLIDAY</th>
                                                        <th>HOLIDAY FOR</th>
                                                    </tr>
                                                    <tr>
                                                        <td>21/07/2021 WEDNESDAY</td>
                                                        <td>21/07/2021
                                                            WEDNESDAY</td>
                                                        <td>1</td>
                                                        <td>BAKRI ID </td>
                                                    </tr>
                                                    <tr>
                                                        <td>15/08/2021

                                                            SUNDAY</td>
                                                        <td>15/08/2021

                                                            SUNDAY</td>
                                                        <td>1</td>
                                                        <td>INDEPENDENCE DAY( STUDENTS HAVE TO COME FOR FLAG HOISTING
                                                            CEREMONY AND WILL BE RELIEVED AFTER CELEBRATION.)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>16/08/2021

                                                            MONDAY</td>
                                                        <td>16/08/2021

                                                            MONDAY</td>
                                                        <td>1</td>
                                                        <td>PATETI</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 md-mb-50 mt-10"></div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>

<app-footer></app-footer>