<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <!-- Breadcrumbs Start -->
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <!-- Breadcrumbs End -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-overview" role="tab" aria-controls="prod-overview"
                                aria-selected="true">Monday</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                aria-selected="false">Tuesday</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                aria-selected="false">Wednesday
                            </a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                aria-selected="false">Thursday
                            </a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-library-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-library" role="tab" aria-controls="prod-library"
                                aria-selected="false">Friday</a>
                        </li>
                        <li class="nav-item tab-btns" role="presentation">
                            <a class="nav-link tab-btn" id="prod-hostel-tab" data-bs-toggle="tab" href="#"
                                data-bs-target="#prod-hostel" role="tab" aria-controls="prod-hostel"
                                aria-selected="false">Saturday</a>
                        </li>
                    </ul>
                    <!-- Content Column -->
                    <div class="col-lg-8 md-mb-50 mt-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">

                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>गुरुर्ब्रह्माग्रुरुर्विष्णुःगुरुर्देवोमहेश्वरः। </p>
                                                <p>गुरुःसाक्षात्परंब्रह्मतस्मैश्रीगुरवेनमः॥
                                                </p>
                                                <p>अर्थात् : <br>

                                                    गुरुहीब्रह्माहैं, गुरुहीविष्णुहैं, गुरुहीशंकरहै;
                                                    गुरुहीसाक्षातपरमब्रह्महैं; ऐसेगुरुकामैंनमनकरताहूँ।</p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>We shall over come</li>
                                                                    <li>We shall over come, we shall over come</li>
                                                                    <li>We shall over come someday</li>
                                                                    <li>Oh, deep in my heart</li>
                                                                    <li>I do believe</li>
                                                                    <li>We shall over come someday.</li>
                                                                    <li>We’ll walk hand in hand,</li>
                                                                    <li>We’ll walk hand in hand someday</li>
                                                                    <li>Oh, deep in my heart</li>
                                                                    <li>I do believe</li>
                                                                    <li>We shall . . . . . . . .</li>
                                                                    <li>We shall all be free, we shall all be free</li>
                                                                    <li>We shall all be free someday</li>
                                                                    <li>Oh deep. . . . . . . .</li>
                                                                    <li>I do . . . . . . .</li>
                                                                    <li>We shall . . . . . .</li>
                                                                    <li>We are not afraid, we are not afraid</li>
                                                                    <li>we are not afraid someday</li>
                                                                    <li>Oh deep . . . . . .</li>
                                                                    <li>I do . . . . . .</li>
                                                                    <li>We shall . . . . .</li>
                                                                    <li>We are not alone, we are not alone</li>
                                                                    <li>We are not alone someday</li>
                                                                    <li>Oh deep . . . . . . .</li>
                                                                    <li>I do . . . . . . . .</li>
                                                                    <li>We shall over come someday.</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>All Things Bright</li>
                                                                    <li>All things bright and beautiful,</li>
                                                                    <li>all creatures great and small,</li>
                                                                    <li>all things wise and wonderful,</li>
                                                                    <li>the lord god made them all.</li>
                                                                    <li>Each little flower that opens,</li>
                                                                    <li> each little bird that sings,</li>
                                                                    <li>he made their glowing colours,</li>
                                                                    <li>he made their little wings.</li>
                                                                    <li>The purpleheaded mountain,</li>
                                                                    <li>the river running by,</li>
                                                                    <li>the sunset and the morning,</li>
                                                                    <li>that brightens up the sky.</li>
                                                                    <li>The cold wind in the winter,</li>
                                                                    <li>the pleasant summer sun,</li>
                                                                    <li>the ripe fruits in the garden,</li>
                                                                    <li>he made them every one.</li>
                                                                    <li>The tall trees in the greenwood,</li>
                                                                    <li>the meadows where we play,</li>
                                                                    <li>the rushes by the water,</li>
                                                                    <li>we gather every day.</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-lab" role="tabpanel" aria-labelledby="prod-lab-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>वक्रतुंडमहाकाय, सूर्यकोटिसमप्रभ:।</p>
                                                <p>निर्विघ्नंकुरुमेदेवशुभकार्येषुसर्वदा॥
                                                </p>
                                                <p>अर्थात् : <br>

                                                    हेहाथीकेजैसेविशालकायजिसकातेजसूर्यकीसहस्त्रकिरणोंकेसमानहैं। <br>
                                                    बिनाविघ्नकेमेराकार्यपूर्णहोऔरसदाहीमेरेलिएशुभहोऐसीकामनाकरतेहै।</p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>इतनी शक्ति हमें देना दाता</li>
                                                                    <li>इतनी शक्ति हमें देना दाता </li>
                                                                    <li>मनका विश्वास  कमजोर होना </li>
                                                                    <li>हम चलें नेक रस्ते पे, </li>
                                                                    <li>भूल कर भी कोइ भूल होना -2</li>
                                                                    <li>इतनी शक्ति.....</li>
                                                                    <li>दूर अज्ञान के हो अंधेरे </li>
                                                                    <li>तू हमें ज्ञान की रोशनीं दे </li>
                                                                    <li>हर बुराई से बचते रहें हम </li>
                                                                    <li>जितनी भीदे, भली जिन्दगी दे </li>
                                                                    <li>बैर होना किसिका किसीसे</li>
                                                                    <li>भावना मनमें बदले कि होना </li>
                                                                    <li>हम चलें नेक रस्तेपे, हमसे </li>
                                                                    <li>भूल करभी कोइ भूल होना..... इतनी शक्ति.....</li>
                                                                    <li>हम ना सोचें हमें क्या मिला है </li>
                                                                    <li>हम ये सोचें किया क्या है अर्पण </li>
                                                                    <li>फूल खुशियों के बाटें सभीको </li>
                                                                    <li>सबका जीवन हीं बन जाये मधुबन </li>
                                                                    <li>अपनी करुणा का जल तू बहाके </li>
                                                                    <li>कर दे पावन हर एक मन का कोना </li>
                                                                    <li>हम चलें नेक रस्तेपे, हमसे</li>
                                                                    <li>भूल करभी कोइ भूल होना ...इतनी शक्ति.....</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>प्रार्थनामेंजोकुछमांगा</li>
                                                                    <li>प्रार्थनामेंजोकुछमांगा</li>
                                                                    <li>पूराकरोअरमान</li>
                                                                    <li>सारीखताएंमानाकरूँमैं</li>
                                                                    <li>तेराकरूँअबध्यान</li>
                                                                    <li>दिलमेंधीमीआवाज़आई</li>
                                                                    <li>अपनेगुनाहोंकोमान</li>
                                                                    <li>जानलियामैंनेआवाजउसकी</li>
                                                                    <li>जिसकाकियाअपमान</li>
                                                                    <li>प्रार्थनामें...</li>
                                                                    <li>ईमानलायेजिसपरमसीहा</li>
                                                                    <li>आयेतुम्हारेपास</li>
                                                                    <li>माफ़करोअबपापहमारे</li>
                                                                    <li>करदोलहूसेसाफ़</li>
                                                                    <li>प्रार्थनामें...</li>
                                                                    <li>जानासभीकोआखिरवहाँहै</li>
                                                                    <li>होगाजहाँइंसाफ़</li>
                                                                    <li>धोदेदिलोंकोआजहमारे</li>
                                                                    <li>करदेलहूसेसाफ़</li>
                                                                    <li>प्रार्थनामे..</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-semi" role="tabpanel"
                                    aria-labelledby="prod-semi-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>सरस्वतींचतांनौमिवागधिष्ठातृदेवताम्।</p>
                                                <p>देवत्वंप्रतिपद्यन्तेयदनुग्रहतोजना: ॥
                                                </p>
                                                <p>अर्थात् : <br>

                                                    वाणीकीअधिष्ठात्रीउनदेवीसरस्वतीकोप्रणामकरताहूँ, जिनकीकृपासेमनुष्यदेवताबनजाताहै।

                                                </p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>જીવનઅંજલીથાજો !</li>
                                                                    <li>જીવનઅંજલીથાજો !</li>
                                                                    <li>મારુંજીવનઅંજલિથાજો !</li>
                                                                    <li>ભૂખ્યાંકાજેભોજનબનજો, તરસ્યાંનુંજળથાજો; </li>
                                                                    <li>દીનદુ:ખિયાંનાંઆંસુલો’તાંઅંતરકદીનધરાજો</li>
                                                                    <li>મારુંજીવનઅંજલિથાજો !</li>
                                                                    <li>સતનીકાંટાળીકેડીપરપુષ્પબનીપથરાજો, </li>
                                                                    <li>ઝેરજગતનાંજીરવીજીરવીઅમૃતઉરનાંપાજો !</li>
                                                                    <li>મારુંજીવનઅંજલિથાજો ! </li>
                                                                    <li>વણથાક્યાચરણોમારાનિતતારીસમીપેધાજો;</li>
                                                                    <li>હૈયાનાપ્રત્યેકસ્પન્દનેતારુંનામરટાજો !</li>
                                                                    <li>મારુંજીવનઅંજલિથાજો !</li>
                                                                    <li>વમળોનીવચ્ચેનૈયામુજહાલકડોલકથાજો;</li>
                                                                    <li>શ્રદ્ધાકેરોદીપકમારોનવકદીયેઓલવાજો !</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>He Sharde Maa, He Sharde Maa,</li>
                                                                    <li>Agyanta se hame taarde Ma</li>
                                                                    <li>Tu swarki Devi ye sangeet tujhse,</li>
                                                                    <li>har shabd tera hai har geet tujhse </li>
                                                                    <li>Ham hai akele, hum hai adhure,</li>
                                                                    <li>teri sharan hum hame pyar de Ma</li>
                                                                    <li>Muniyon ne samjhi, guniyon ne jaani, Vedonki bhasha, Purano ki bani,</li>
                                                                    <li>Ham bhi to samjhe, hum bhi to jaane, </li>
                                                                    <li>vidhya ka hamko adhikaar de Ma</li>
                                                                    <li>Tu shwat varni kamal pe viraje,</li>
                                                                    <li>hathon me veena, mukut serpe saje</li>
                                                                    <li>Manse hamare mitake andhere, humko ujalon ka sansaar de Ma </li>
                                                                    <li>He Sharde Maa, He Sharde Maa. </li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-com" role="tabpanel" aria-labelledby="prod-com-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>सरस्वतिमहाभागेविद्येकमललोचने।</p>
                                                <p>विद्यारूपेविशालाक्षिविद्यांदेहिनमोऽस्तुते॥
                                                </p>
                                                <p>अर्थात् : <br>

                                                    हेमहाभाग्यवतीज्ञानरूपाकमलकेसमानविशालनेत्रवाली, ज्ञानदात्रीसरस्वती ! मुझकोविद्यादो, मैंआपकोप्रणामकरताहूँ।

                                                </p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>Everything I am</li>
                                                                    <li>Everything I am</li>
                                                                    <li>Everything I'll be</li>
                                                                    <li>Everything I'll be</li>
                                                                    <li>I gift it to you Lord</li>
                                                                    <li>I gift it to you Lord</li>
                                                                    <li>And do it thankfully </li>
                                                                    <li>thankfully</li>
                                                                    <li>Every song I sing</li>
                                                                    <li>Every praise I bring</li>
                                                                    <li>Everything I do</li>
                                                                    <li>Is a gift to you</li>
                                                                    <li>Everything I have</li>
                                                                    <li>Everything I have</li>
                                                                    <li>All you've given</li>
                                                                    <li>All you've given</li>
                                                                    <li>I gift it to you Lord</li>
                                                                    <li>I gift it to you Lord</li>
                                                                    <li>And do it thankfully</li>
                                                                    <li>thankfully</li>
                                                                    <li>Every song I sing</li>
                                                                    <li>Every praise I bring everything I do</li>
                                                                    <li>Is a…</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>The heavens are blue</li>
                                                                    <li>The heavens are blue proclaiming to you</li>
                                                                    <li>The glory of God their creator</li>
                                                                    <li>At sunset or night they're a beautiful sight</li>
                                                                    <li>Yes, they show forth the glory of God</li>
                                                                    <li>Author of beauty God on high</li>
                                                                    <li>It is for you that I sigh,</li>
                                                                    <li>As long as i live, My love i shall give </li>
                                                                    <li>To you Lord, My God most high</li>
                                                                    <li>As Long as I live, My love I shall give</li>
                                                                    <li>To you Lord my god most high</li>
                                                                    <li>And all of my days I will sing to your praise</li>
                                                                    <li>I''ll adore you my God most high</li>
                                                                    <li>The surging of seas, the wind in the trees</li>
                                                                    <li>Breathe the music of God in nature</li>
                                                                    <li>In songs of a bird, natures witness is heard</li>
                                                                    <li>Yes, they sing forth the glory of God</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-library" role="tabpanel"
                                    aria-labelledby="prod-library-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>सरस्वतिनमौनित्यंभद्रकाल्यैनमोनम: ।</p>
                                                <p>वेदवेदान्तवेदाङ्गविद्यास्थानेभ्यएवच॥
                                                </p>
                                                <p>अर्थात् : <br>

                                                    सरस्वतीकोनित्यनमस्कारहै, भद्रकालीकोनमस्कारहैऔरवेद, वेदान्त, वेदांगतथाविद्याओंकेस्थानोंकोप्रणामहै।

                                                </p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li> तेरीहैज़मीनतेराआसमानतूबड़ामेहरबानतूबक्शीसकर</li>
                                                                    <li>सभीकाहैतू, सभीतेरेख़ुदामेरेतूबक्शीसकरहैतू, सभीतेरेख़ुदामेरेतूबक्शीसकर</li>
                                                                    <li>ओतेरीमर्ज़ीसेऐमालिकहमइसदुनियामेंआयेहैं</li>
                                                                    <li>तेरीरहमतसेहमसबनेयेजिस्मऔरजानपाएहैं</li>
                                                                    <li>तूअपनीनज़रहमपररखनाकिसहालमेंहैंयेख़बररखना</li>
                                                                    <li>चाहेतोहमेंरखेतूचाहेतोहमेंमारे</li>
                                                                    <li>ओ.. तेरेआगेझुकाकेसरखड़ेहैंआजहमसारे </li>
                                                                    <li>ओ.. सबसेबड़ीताक़तवालेतूचाहेतोहरआफतटालेकर</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>दया कर दान विद्या का,</li>
                                                                    <li>दया कर दान विद्या का,</li>
                                                                    <li>हमें परमात्मा देना,</li>
                                                                    <li>दया करना हमारी आत्मा ko,</li>
                                                                    <li>शुद्धता देना ।</li>
                                                                    <li>हमारे ध्यान में आओ,</li>
                                                                    <li>प्रभु आँखों में बस जाओ,</li>
                                                                    <li>अँधेरे दिल में आकर के, </li>
                                                                    <li>प्रभु ज्योति जगा देना ।</li>
                                                                    <li>बहा दो प्रेम* की गंगा,</li>
                                                                    <li>दिलों में प्रेम का सागर,</li>
                                                                    <li>हमें आपस में मिल-जुल के,</li>
                                                                    <li>प्रभु रहना सीखा देना ।</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="prod-hostel" role="tabpanel"
                                    aria-labelledby="prod-hostel-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Shlok:</h4>
                                                <p>एकोधर्म: परमश्रेय: क्षमैकाशान्तिरुक्तमा।</p>
                                                <p>विद्वैकापरमातृप्तिरहिंसैकासुखावहा।।
                                                </p>
                                                <p>अर्थात् : <br>

                                                    केवलधर्महीपरमकल्याणकारकहै, एकमात्रक्षमाहीशांतिकासर्वश्रेष्ठउपायहै।एकविद्याहीपरमसंतोषदेनेवालीहैऔरएकमात्रअहिंसाहीसुखदेनेवालीहै।

                                                </p>
                                                <h4>Prayer:</h4>
                                                <ul style="list-style-type:square;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>મંદિર તારું વિશ્વરૂપાળું,</li>
                                                                    <li>મંદિર તારું વિશ્વરૂપાળું,</li>
                                                                    <li>સુંદર સરજનહારા રે;</li>
                                                                    <li>પળ પળ તારાં દર્શન થાયે,</li>
                                                                    <li>દેખે દેખણહારા રે.</li>
                                                                    <li>નહિ પૂજારી નહિ કોઈ દેવા,</li>
                                                                    <li>નહિ મંદિરને તાળા રે; </li>
                                                                    <li>નીલ ગગનમાં મહિમા ગાતા,</li>
                                                                    <li>ચાંદો સૂરજ તારા રે.</li>
                                                                    <li>વર્ણન કરતાં શોભા તારી,</li>
                                                                    <li>થાક્યા કવિગણ ધીરા રે;</li>
                                                                    <li>મંદિરમાં તું કયાં છુપાયો,</li>
                                                                    <li>શોધે બાળ અધીરા રે. મંદિર તારું...</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <li>
                                                                <ul>
                                                                    <li>ઓઇશ્વરભજીએતને</li>
                                                                    <li>ઓઇશ્વરભજીએતને, મોટુંછેતુજનામ</li>
                                                                    <li>ગુણતારાંનિતગાઇએ, થાયઅમારાંકામ…</li>
                                                                    <li>હેતલાવીહસાવતું, સદારાખદિલસાફ</li>
                                                                    <li>ભૂલકદીકરીએઅમે, તોપ્રભુકરજોમાફ…</li>
                                                                    <li>ઓઇશ્વરભજીએતને......</li>
                                                                    <li>પ્રભુએટલુંઆપજો, કુટુંબપોષણથાય</li>
                                                                    <li>ભૂખ્યાકોઇસૂએનહીં, સાધુસંતસમાય…</li>
                                                                    <li>ઓઇશ્વરભજીએતને......</li>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </div>
                                                    <li>Pledge</li>
                                                    <li>Vande matram</li>
                                                    <li>News Reading</li>
                                                    <li>Thought</li>
                                                    <li>Birthday Wishes
                                                    </li>
                                                    <li>Inspirational Speech</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Column -->
                    <div class="video-column col-lg-4">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Prayer List</h5>
                                <ul class="nav" id="myTab" role="tablist" style="display:unset">
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab"
                                            href="#" data-bs-target="#prod-overview" role="tab"
                                            aria-controls="prod-overview" aria-selected="true">Monday</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-lab-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-lab" role="tab" aria-controls="prod-lab"
                                            aria-selected="false">Tuesday</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-semi-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-semi" role="tab" aria-controls="prod-semi"
                                            aria-selected="false">Wednesday</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-com-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-com" role="tab" aria-controls="prod-com"
                                            aria-selected="false">Thursday</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-library-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-library" role="tab" aria-controls="prod-library"
                                            aria-selected="false">Friday</a>
                                    </li>
                                    <li class="nav-item tab-btns" role="presentation">
                                        <a class="nav-link tab-btn" id="prod-hostel-tab" data-bs-toggle="tab" href="#"
                                            data-bs-target="#prod-hostel" role="tab" aria-controls="prod-hostel"
                                            aria-selected="false">Saturday</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>