<app-header></app-header>
<!-- Team Section Start -->
<div id="rs-team" class="rs-team style1 orange-color pt-40 pb-100 md-pt-64 md-pb-70 white-bg">
    <div class="container">
        <h3 style="text-align: center;">Staff List</h3>
        <div class="row">
            <div class="col text-end">
                <label for="drop">Select Department</label><br>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{selectedDepartment}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem disabled>Select Department</button>
                        <button ngbDropdownItem (click)="slectAll('all')">ALL</button>
                        <div *ngFor="let y of departmentData">
                            <button ngbDropdownItem on-click="selectDepartment(y.department)">{{y.department}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <h4 style="color: red;text-align: center;" *ngIf="filterData.length==0">
                Data
                Not Found !</h4>
            <div class="col-lg-3 col-sm-6 mb-30"
                *ngFor="let s of filterData | paginate: {id:'listing1', itemsPerPage: 12, currentPage: pa };let i=index">
                <div class="team-item">
                    <img src="http://localhost:9000{{s.profile_image}}" alt="">
                    <div class="content-part">
                        <h4 class="name textCustom" style="color: white !important;">{{s.name}}</h4>
                        <span class="textCustom" style="color: white !important;">{{s.designation}}</span>
                        <ul class="textCustom" style="color: white !important;">
                            <li>{{s.qualification}}</li>
                            <li><a class="textCustom" style="color: white !important;" href="mailto:{{s.email}}">{{s.email}}</a>
                            </li>
                            <li >Birthday : {{s.birthday_date|date}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" *ngIf="filterData.length>0">
            <div class="col text-end">
                <pagination-controls id="listing1" (pageChange)="pa = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->
<app-footer></app-footer>