<app-header></app-header>
<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <h4>National Children Science Congress 2020-21</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button card-link" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">Development of
                                                        eco-friendly home cooling system
                                                    </button>
                                                </div>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Sub-theme:</b> Appropriate technology for sustainable
                                                            living</P>
                                                        <P> <b>Name of presenter:</b> Ruta Nikhil Patel</P>
                                                        <P> <b>Standard:</b> 10th</P>
                                                        <P> <b>Name of co-author:</b> Namrata Nikhil Patel</P>
                                                        <P> <b>Standard:</b> 12th</P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="https://cesociety.in/cems/images/news/Appropriate%20technology%20for%20sustainable%20living-%20Ruta%20Patel-min.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                                        aria-expanded="false" aria-controls="collapsetwo">The Aquatic
                                                        plants- Natural water purifier</button>
                                                </div>
                                                <div id="collapsetwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">The school has well equipped
                                                        <P> <b>Sub-theme:</b> Appropriate technology for sustainable
                                                            living</P>
                                                        <P> <b>Name of presenter:</b> Patel Twisha Falgunbhai</P>
                                                        <P> <b>Name of co-author:</b> Shah Aesha Tarakkumar</P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Twisha%20%20Aquatic%20plants%20ppt-min.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">Development
                                                        Of sustainable Habitat</button>
                                                </div>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Sub-theme:</b> Design, Development, Modeling and Planning
                                                            for Sustainable Habitat</P>
                                                        <P> <b>Name of presenter:</b> Patel Dipanshi Amit</P>
                                                        <P> <b>Name of co-author:</b> Patel Prachi Dineshbhai</P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Design%20%20Development%20Modeling%20and%20Planning%20for%20Sustainable%20Habitat.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">A Survey On
                                                        Paper, Plastic And Polymer Currency</button>
                                                </div>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Sub-theme:</b> Social Innovation For Sustainable Living
                                                        </P>
                                                        <P> <b>Name of presenter:</b> Siya Manish Mehta</P>
                                                        <P> <b>Standard:</b> 10th</P>
                                                        <P> <b>Name of co-author:</b> Heli Purvish Patel</P>
                                                        <P> <b>Standard:</b> 9th</P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/SOCIAL%20INNOVATION%20FOR%20SUSTAINABLE%20LIVING.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">Tower Of
                                                        Brahma
                                                    </button>
                                                </div>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Name of presenter:</b> Dev Patel</P>
                                                        <P> <b>Standard:</b> 11th Science</P>
                                                        <p><span class="value">
                                                                <a href="https://www.youtube.com/watch?v=15Y0cj5EAg0&feature=youtu.be"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">Home
                                                        Automation</button>
                                                </div>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Name of presenter:</b> Dhyey Patel</P>
                                                        <P> <b>Standard:</b> 12th Science </P>
                                                        <p><span class="value">
                                                                <a href="https://www.youtube.com/watch?v=LiTSiJYl3oM"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">

                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                        aria-expanded="false" aria-controls="collapseTen">Production Of Electricity From Running Train</button>
                                                </div>
                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Name of presenter:</b> Dhyey Patel</P>
                                                        <P> <b>Standard:</b> 12th Science </P>

                                                        <p><span class="value">
                                                                <a href="https://www.youtube.com/watch?v=CRua1RJC82E&feature=youtu.be"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                        aria-expanded="false" aria-controls="collapseEleven">A Survey Of Tobacco Farming And Farmers In Charotar Region</button>
                                                </div>
                                                <div id="collapseEleven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <p> <b>Sub-theme:</b>Society, Culture And Livelihood</p>
                                                        <P> <b>Name of presenter:</b>Ruta Nikhil Patel</P>
                                                        <P> <b>Standard:</b>  9th  </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/A%20Survey%20Of%20Tobacco%20Farming%20And%20Farmers%20in%20Charotar%20Region.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                        aria-expanded="false" aria-controls="collapseTwelve"> Society, culture and livelihood
                                                    </button>
                                                </div>
                                                <div id="collapseTwelve" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <p> <b>Case study of Joint Family vs Nuclear Family</b></p>
                                                        <P> <b>Name of Group Members: 1. </b>Harsh Jatinkumar Prajapati
                                                                                      <br><b> 2.</b> Harjeet Santoksinh Chhasatiya   
                                                        </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Society%20culture%20and%20livelihood%20Case%20study%20of%20Joint%20Family%20vs%20Nuclear%20Family.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThirteen">Eco System and Eco system Services: Bio diversity</button>
                                                </div>
                                                <div id="collapseThirteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <P> <b>Name of Group Members: 1. </b>Suhani Santoshkumar Gupta 
                                                                                      <br><b> 2.</b> Mashira Md.Harun Vohra    
                                                        </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Eco%20system%20and%20Eco%20System%20Services-%20Bio%20Diversity.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
                                                        aria-expanded="false" aria-controls="collapseFourteen">Traditional Knowledge system
                                                    </button>
                                                </div>
                                                <div id="collapseFourteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <p> <b>Evolution of Nutritional value of traditional Food (Gujarati Food) </b></p>
                                                        <P> <b>Name of Group Members: 1. </b>Namrata Nikhil Patel 
                                                                                      <br><b> 2.</b> Tanvi Mitulkumar Patel       
                                                        </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Traditional%20Knowledge%20System%20-%20Evolution%20of%20Nutritional%20value%20of%20traditional%20Food_Gujarati%20Food.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p> </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFifteen"
                                                        aria-expanded="false" aria-controls="collapseFifteen">Waste to Wealth
                                                    </button>
                                                </div>
                                                <div id="collapseFifteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <p> <b>Analysis of biodiesel from Jatropha seeds </b></p>
                                                        <P> <b>Name of Group Members: 1. </b>Soha Chiragbhai Patel 
                                                                                      <br><b> 2.</b>Heer Anilkumar Kotecha    
                                                        </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Waste%20to%20Wealth%20Analysis%20of%20Biodiesel%20from%20Jatropha%20seeds.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSixteen"
                                                        aria-expanded="false" aria-controls="collapseSixteen">Water, Sanitation and Hygiene
                                                    </button>
                                                </div>
                                                <div id="collapseSixteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        <p> <b>Rehydration (Under theme of Health , Hygiene , Sanitation)</b></p>
                                                        <P> <b>Name of Group Members: 1. </b> Khushi Manoj Mane 
                                                                                      <br><b> 2.</b>Sidhhi Dhavalkishor Shah       
                                                        </P>
                                                        <P> <b>Guide:</b> Gaurav Joshi</P>
                                                        <p><span class="value">
                                                                <a href="http://www.cesociety.in/cems/images/news/Water%20Sanitation%20and%20Hygiene-%20Rehydration.pdf"
                                                                    target="_blank"><i class="fa fa-file-pdf-o"
                                                                        aria-hidden="true">
                                                                    </i>
                                                                    Download</a></span></p></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>