<div id="accordion" class="accordion">
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <section class="servicesHome">
            <div class="container">
                <div class="row card1">
                    <a data-toggle="collapse" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapseTwo">
                        <i class="fa fa-times-circle" style="float: right; color: white; font-size:24px"></i></a>
                        <h6 style="color: white;text-align: center;">View Course</h6>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul>
                                <li (click)="searchSchool('preschool')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Preschool</li>
                                <li (click)="searchSchool('std11to12')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Standard 11 to 12</li>
                                <li (click)="searchSchool('bcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Com.</li>
                                <li (click)="searchSchool('bsc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc.</li>
                                <li (click)="searchSchool('med')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Ed.</li>
                                <li (click)="searchSchool('phd')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Ph.D.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std1to5')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 1 to 5</li>
                                <li (click)="searchSchool('ba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.A.</li>
                                <li (click)="searchSchool('bed')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Ed.</li>
                                <li (click)="searchSchool('mlt')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> MLT</li>
                                <li (click)="searchSchool('msw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.S.W.</li>
                                <li (click)="searchSchool('bscit')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc. IT</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std6to8')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 6 to 8</li>
                                <li (click)="searchSchool('bba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.B.A.</li>
                                <li (click)="searchSchool('bped')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.P.Ed.</li>
                                <li (click)="searchSchool('ma')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.A.</li>
                                <li (click)="searchSchool('msc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Sc.</li>
                                <li (click)="searchSchool('all')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> View All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std9to10')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 9 to 10</li>
                                <li (click)="searchSchool('bca')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.C.A.</li>
                                <li (click)="searchSchool('bsw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.S.W.</li>
                                <li (click)="searchSchool('mcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Com.</li>
                                <li (click)="searchSchool('ptc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> P.T.C.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="full-width-header header-style1 home1-modifiy">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area dark-parimary-bg">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:amb@cesociety.in" style="font-size:12px !important;">
                                    amb@cesociety.in,</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <a href="tel:(02692) - 243634" style="font-size:12px !important;"> (02692) - 243634</a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-end">
                        <ul class="topbar-right">
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-clock-o"></i>
                                <a >Last Updated:27-june-2022</a>
                            </li>
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-users"></i>
                                <a >Visitor:222500</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-sticky">
            <div class="row middle">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="logo-cat-wrap">
                        <div class="logo-part">
                            <a routerLink="/home" routerLinkActive="active">
                                <img src="assets/images/cems/logo/3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-start m1" style="padding-right:30px;">

                    <ul class="topbar-right">
                        <li class="menu-item lm">
                            <div class="wrap">
                                <div class="search">
                                    <a class="card-link collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" (click)="moreOpen()"
                                        aria-expanded="true">
                                        <input type="text" class="searchTerm" placeholder="What are you looking for?"
                                            style="color: #203154;">
                                    </a>
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item lm">
                            <a href="http://www.cesociety.in/dnpg/Centenary.aspx">Centenary Celebration</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a (click)="openPopup3()">News</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a (click)="openPopup4()">Birthday</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="http://www.cesociety.in/Campus-Counselling-Program.aspx">Free counseling</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- MOBILEMENU -->
        <nav class="navbar navbarn navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <!-- <span class="navbar-toggler-icon"> </span> -->
                <!-- <img class="navbar-toggler-icon" src="assets/images/shape/icon.png" alt=""> -->
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                <ul class="nav-menu" style="padding: 25px!important;">
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/home" routerLinkActive="active">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" >CES Home</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/basic/infra"
                                    routerLinkActive="active">Infrastructure and Facilities</a> </li>
                                    <li><a class="dropdown-item" routerLink="/basic/activity"
                                        routerLinkActive="active">Co Curricular Activity</a> </li>
                                        <li><a class="dropdown-item" routerLink="/basic/structure"
                                            routerLinkActive="active">Fee Structure</a> </li>
                                            <li><a class="dropdown-item" routerLink="/basic/structure"
                                                routerLinkActive="active">School Sessions</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Gallery/Media</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/gallery/photos"
                                    routerLinkActive="active">Photos</a> </li>
                        </ul>
                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Resources</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="openPopup1()">Syllabus</a> </li>
                            <li><a class="dropdown-item" href="http://www.olabs.edu.in" target="_blank">Online Labs For
                                    Science Experiments</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/holiday"
                                routerLinkActive="active">Holidays List</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/web"
                                routerLinkActive="active">Web Resources</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/photo"
                                routerLinkActive="active">Class Group Photo</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/result"
                                routerLinkActive="active">Results</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/project"
                                routerLinkActive="active">NCSC Science Projects</a> </li>
                            <li><a class="dropdown-item" routerLink="/resource/prayer"
                                routerLinkActive="active">Mornings Prayers List</a> </li>
                            <li><a class="dropdown-item" >Cultural Activity List 2021-22</a> </li>
                        </ul>

                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Course</a>
                        <ul class="dropdown-menu">
                            
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/basic/contact" routerLinkActive="active">Contact
                            Us</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">More</a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" (click)="openPopup2()">Forms</a> </li>
                            
                            <li><a class="dropdown-item" routerLink="/resource/material" routerLinkActive="active">Study Materials</a>
                            </li>
                            <!-- <li><a class="dropdown-item" routerLink="/cems/basic/committee" routerLinkActive="active">Committee</a> </li> -->
                            <li><a class="dropdown-item">Examination</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
        <!-- MOBILEMENU -->

        <div class="menu-area menu-sticky">
            <!-- main-menu -->
            <div class="container" style="max-width:1750px;">
                <div class="row y-middle" style="background-color: #1f7349 ; height: 50px;">
                    <div class="col-lg-12 text-end">
                        <div class="rs-menu-area">
                            <div class="main-menu">

                                <nav class="rs-menu">
                                    <ul class="nav-menu">

                                        <li class="menu-item-has-children">
                                            <a routerLink="/home" routerLinkActive="active">Home</a>
                                            <ul class="sub-menu">
                                                <li><a >CES Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a >About Us</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/basic/infra"
                                                        routerLinkActive="active">Infrastructure and Facilities</a>
                                                </li>
                                                <li><a routerLink="/basic/activity" routerLinkActive="active">Co
                                                        curricular Activity</a>
                                                </li>
                                                <li><a routerLink="/basic/structure" routerLinkActive="active">Fee
                                                        Structure</a>
                                                </li>
                                                <li><a routerLink="/basic/structure"
                                                        routerLinkActive="active">School Sessions</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a >Gallery/Media</a>

                                            <ul class="sub-menu">
                                                <li><a routerLink="/gallery/photos"
                                                        routerLinkActive="active">Photos</a> </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a >Resources</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="openPopup1()">Syllabus</a> </li>
                                                <li><a href="http://www.olabs.edu.in" target="_blank">Online Labs For
                                                        Science Experiments</a>
                                                </li>
                                                <li><a routerLink="/resource/holiday"
                                                    routerLinkActive="active">Holidays List</a> </li>
                                                <li><a routerLink="/resource/web"
                                                        routerLinkActive="active">Web Resources</a> </li>
                                                <li><a routerLink="/resource/photo"
                                                        routerLinkActive="active">Class Group Photo</a> </li>
                                                <li><a routerLink="/resource/result"
                                                        routerLinkActive="active">Results</a> </li>
                                                <li><a routerLink="/resource/project"
                                                        routerLinkActive="active">NCSC Science Projects</a> </li>
                                                <li><a routerLink="/resource/prayer"
                                                        routerLinkActive="active">Mornings Prayers List</a> </li>
                                                <li class="menu-item-has-children"><a>Cultural Activity List 2021-22</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children current-menu-item">
                                                            <a href="http://www.cesociety.in/cems/images/news/Culture%20Activity%20KG%202021-22_new.pdf"
                                                                target="_blank">KG Section</a>
                                                        </li>
                                                        <li class="current-menu-item">
                                                            <a href="http://www.cesociety.in/cems/images/news/Culture%20Activity%20%20Pri-HSC%202021-22_new.pdf"
                                                                target="_blank">Higher Secondary Section</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="">
                                            <a routerLink="/basic/contact" routerLinkActive="active">Contact
                                                Us</a>
                                        </li>
                                        <li class="menu-item-has-children"><a>More</a>
                                            <ul class="sub-menu">
                                                <li><a (click)="openPopup2()">Forms</a> </li>
                                                <li><a routerLink="/resource/material" routerLinkActive="active">Study Materials</a>
                                                </li>

                                                <li class="menu-item-has-children">
                                                    <a >Examination</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children">
                                                            <a >Exams Schedules</a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item-has-children current-menu-item">
                                                                    <a href="http://www.cesociety.in/cems/images/news/Weekly%20TEST%20TIME%20table%202021-22%20Std%201-5.pdf" target="_blank">Std 1-5</a>
                                                                </li>
                                                                <li class="current-menu-item">
                                                                    <a href="http://www.cesociety.in/cems/images/news/Weekly%20TEST%20TIME%20Table%202021-22%20Std%206-12.pdf" target="_blank">Std 6-12</a>
                                                                </li>
    
                                                            </ul>
                                                        </li>
                                                        <li class="current-menu-item">
                                                            <a routerLink="/more/evalution"
                                                                routerLinkActive="active">Evalution Scheme</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-menu -->
            <!-- stickymenu -->
            <div style="max-width:100%;">
                <div class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
                    <!-- <img src="assets/images/CES_logo.png" alt=""> -->
                    <div class="row" style="background-color: #1f7349 ; height: 50px;">
                        <div class="col-lg-2 text-end mt-10">
                            <a routerLink="/home" routerLinkActive="active">
                                <img src="assets/images/cems/logo/2.png" alt="" width="45%">
                            </a>
                        </div>
                        <div class="col-lg-10 text-start" style="margin-top: 5px;">
                            <div class="rs-menu-area jc">
                                <div class="main-menu">
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">

                                            <li class="menu-item-has-children">
                                                <a routerLink="/home" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a>CES Home</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a>About Us</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/basic/infra"
                                                            routerLinkActive="active">Infrastructure and Facilities</a>
                                                    </li>
                                                    <li><a routerLink="/basic/activity" routerLinkActive="active">Co
                                                            curricular Activity</a>
                                                    </li>
                                                    <li><a routerLink="/basic/structure" routerLinkActive="active">Fee
                                                            Structure</a>
                                                    </li>
                                                    <li><a routerLink="/basic/structure"
                                                            routerLinkActive="active">School Sessions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a >Gallery/Media</a>
    
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/gallery/photos"
                                                            routerLinkActive="active">Photos</a> </li>
                                                </ul>
                                            </li>
    
                                            <li class="menu-item-has-children">
                                                <a>Resources</a>
                                                <ul class="sub-menu">
                                                    <li><a (click)="openPopup1()">Syllabus</a> </li>
                                                    <li><a href="http://www.olabs.edu.in" target="_blank">Online Labs For
                                                            Science Experiments</a>
                                                    </li>
                                                    <li><a routerLink="/resource/holiday"
                                                        routerLinkActive="active">Holidays List</a> </li>
                                                    <li><a routerLink="/resource/web"
                                                            routerLinkActive="active">Web Resources</a> </li>
                                                    <li><a routerLink="/resource/photo"
                                                            routerLinkActive="active">Class Group Photo</a> </li>
                                                    <li><a routerLink="/resource/result"
                                                            routerLinkActive="active">Results</a> </li>
                                                    <li><a routerLink="/resource/project"
                                                            routerLinkActive="active">NCSC Science Projects</a> </li>
                                                    <li><a routerLink="/resource/prayer"
                                                            routerLinkActive="active">Mornings Prayers List</a> </li>
                                                    <li class="menu-item-has-children"><a>Cultural Activity List 2021-22</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item-has-children current-menu-item">
                                                                <a href="http://www.cesociety.in/cems/images/news/Culture%20Activity%20KG%202021-22_new.pdf"
                                                                    target="_blank">KG Section</a>
                                                            </li>
                                                            <li class="current-menu-item">
                                                                <a href="http://www.cesociety.in/cems/images/news/Culture%20Activity%20%20Pri-HSC%202021-22_new.pdf"
                                                                    target="_blank">Higher Secondary Section</a>
                                                            </li>
    
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a routerLink="/basic/contact" routerLinkActive="active">Contact
                                                    Us</a>
                                            </li>
                                            <li class="menu-item-has-children"><a>More</a>
                                                <ul class="sub-menu">
                                                    <li><a (click)="openPopup2()">Forms</a> </li>
                                                    <li><a routerLink="/resource/material" routerLinkActive="active">Study Materials</a>
                                                    </li>

    
                                                    <li class="menu-item-has-children">
                                                        <a >Examination</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item-has-children">
                                                                <a>Exams Schedules</a>
                                                                <ul class="sub-menu">
                                                                    <li class="menu-item-has-children current-menu-item">
                                                                        <a href="http://www.cesociety.in/cems/images/news/Weekly%20TEST%20TIME%20table%202021-22%20Std%201-5.pdf" target="_blank">Std 1-5</a>
                                                                    </li>
                                                                    <li class="current-menu-item">
                                                                        <a href="http://www.cesociety.in/cems/images/news/Weekly%20TEST%20TIME%20Table%202021-22%20Std%206-12.pdf" target="_blank">Std 6-12</a>
                                                                    </li>
        
                                                                </ul>
                                                            </li>
                                                            <li class="current-menu-item">
                                                                <a routerLink="/more/evalution"
                                                                    routerLinkActive="active">Evalution Scheme</a>
                                                            </li>
    
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stickymenu -->
        </div>

        <!-- Modal: modalAbandonedCart-->
        <div class="modal fade right" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle1}">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">Syllabus
                        </p>
                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <ul style="list-style-type:decimal;">
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/I%20Card%20Details.pdf"
                                            target="_blank">Blue Print of Examination Question Paper - STD 11</a> </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/Admission%20Form.pdf"
                                            target="_blank">Blue Print of Examination Question Paper - STD 9</a> </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/LOR.pdf"
                                            target="_blank">Our Syllabus is as prescribed by Gujarat Education Board -
                                            Gandhinagar for Std 11</a>
                                    </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/TC%20Form%20new.pdf"
                                            target="_blank">Our Syllabus is as prescribed by Gujarat Education Board -
                                            Gandhinagar for Std 9</a> </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/SPU%20-%20Application%20form%20for%20correction%20in%20Name.pdf"
                                            target="_blank">Our Syllabus is as prescribed by Gujarat Education Board -
                                            Gandhinagar for Std 11 & 12 commerce</a> </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/SPU%20-%20Application%20form%20for%20Document%20Verification.pdf"
                                            target="_blank">Our Syllabus is as prescribed by Gujarat Education Board -
                                            Gandhinagar for Std 10</a>
                                    </li>
                                    <li><a href="http://www.cesociety.in/sanppgi/images/Forms/SPU%20-%20Application%20form%20for%20Trial%20and%20Rank%20Certificate.pdf"
                                            target="_blank">Our Syllabus is as prescribed by Gujarat Education Board -
                                            Gandhinagar for Std 8 & 9</a></li>

                                </ul>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <!-- <a type="button" class="btn btn-info">Go to cart</a> -->
                        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal"
                            (click)="closePopup()">Cancel</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Modal: modalAbandonedCart-->
        <!-- Modal: modalAbandonedCart-->
        <div class="modal fade right" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle2}">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">Forms
                        </p>
                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <ul style="list-style-type:decimal;">
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Duplicate Marksheet/ Duplicate Passing Certificate/
                                            Migration મેળવવા માટેનું ફોર્મ</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Record Checking Form</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Duplicate Certificate(Std 12)</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Duplicate Certificate(Std 10)</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Verification Form</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Rechecking Form</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Duplicate Marksheet Form</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Duplicate Certificate Form</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Migration form(10 Std.)</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Migration form(12 Std.)</a> </li>
                                    <li><a href="http://www.cesociety.in/cems/images/Forms/Std%2011Duplicate.jpeg"
                                            target="_blank">Admission form</a> </li>

                                            
                                </ul>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <!-- <a type="button" class="btn btn-info">Go to cart</a> -->
                        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal"
                            (click)="closePopup()">Cancel</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Modal: modalAbandonedCart-->


        <!--Modal: modalRelatedContent-->
        <div class="modal right" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle3}">
            <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">TODAY'S NEWS / EVENTS</p>

                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                               <h5>SHRI ALPESH N. PATEL POST GRADUATE INSTITUTE OF SCIENCE AND RESEARCH, ANAND</h5>

                                <p><strong>UNIVERSITY TOPPERS OF M.SC. MLT AND DMLT DEPARTMENT</strong></p>
                                <p><a href="assets/sanppgi/images/news/MLT%20Final%20RESULT%20with%20university%20rank%20%20IT%20CELL.pdf" target="_blank"> M.SC MT (CLT) & DMLT
                                    RESULT (2020 – 22)</a></p>
                                <button type="button" class="btn btn-info btn-md" (click)="closePopup()">Close</button>
                            </div>

                            <div class="col-1"></div>
                        </div>
                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalRelatedContent-->
         <!--Modal: modalRelatedContent-->
         <div class="modal right" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle4}">
            <div class="modal-dialog modal-left modal-bottom-right modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">BIRTHDAY</p>

                        <button type="button" class="close" (click)="closePopup()">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">

                                <p><strong>
                                    DR. ZARNA PATEL (Assistant Professor At Shri Alpesh N. Patel Post Graduate Institute Of Science And Research, Anand)</strong></p>
                                
                                <button type="button" class="btn btn-info btn-md" (click)="closePopup()">Close</button>
                            </div>

                            <div class="col-1"></div>
                        </div>
                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: modalRelatedContent-->