<div id="accordion" class="accordion">
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <section class="servicesHome">
            <div class="container">
                <div class="row card1">
                    <a data-toggle="collapse" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapseTwo">
                        <i class="fa fa-times-circle" style="float: right; color: white; font-size:24px"></i></a>
                    <h6 style="color: white;text-align: center;">View Course</h6>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul>
                                <li (click)="searchSchool('preschool')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Preschool</li>
                                <li (click)="searchSchool('std11to12')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Standard 11 to 12</li>
                                <li (click)="searchSchool('bcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Com.</li>
                                <li (click)="searchSchool('bsc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc.</li>
                                <li (click)="searchSchool('med')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Ed.</li>
                                <li (click)="searchSchool('phd')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Ph.D.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std1to5')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 1 to 5</li>
                                <li (click)="searchSchool('ba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.A.</li>
                                <li (click)="searchSchool('bed')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Ed.</li>
                                <li (click)="searchSchool('mlt')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> MLT</li>
                                <li (click)="searchSchool('msw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.S.W.</li>
                                <li (click)="searchSchool('bscit')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc. IT</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std6to8')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 6 to 8</li>
                                <li (click)="searchSchool('bba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.B.A.</li>
                                <li (click)="searchSchool('bped')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.P.Ed.</li>
                                <li (click)="searchSchool('ma')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.A.</li>
                                <li (click)="searchSchool('msc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Sc.</li>
                                <li (click)="searchSchool('all')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> View All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std9to10')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 9 to 10</li>
                                <li (click)="searchSchool('bca')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.C.A.</li>
                                <li (click)="searchSchool('bsw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.S.W.</li>
                                <li (click)="searchSchool('mcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Com.</li>
                                <li (click)="searchSchool('ptc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> P.T.C.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="full-width-header header-style1 home1-modifiy">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area dark-parimary-bg">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:amb@cesociety.in" style="font-size:12px !important;">
                                    amb@cesociety.in</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <a href="tel:02692- 243634" style="font-size:12px !important;"> (02692)-243634</a>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-end">
                        <ul class="topbar-right">
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-clock-o" style="color: white;"></i>
                                <a href="" style="color: white;">Last Updated: {{siteUpdate.updatedSite|date}}</a>
                            </li>
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-users" style="color: white;"></i>
                                <a href="" style="color: white;">Visitor:222500</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-sticky">
            <div class="row middle">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="logo-cat-wrap">
                        <div class="logo-part">
                            <a routerLink="/home" routerLinkActive="active">
                                <img src="assets/images/logo/3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-start m1" style="padding-right:30px;">

                    <ul class="topbar-right">
                        <li class="menu-item lm">
                            <div class="wrap">
                                <div class="search">
                                    <a class="card-link collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" href="#" (click)="moreOpen()"
                                        aria-expanded="true">
                                        <input type="text" class="searchTerm" placeholder="What are you looking for?"
                                            style="color: #203154;">
                                    </a>
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item lm">
                            <a href="http://www.cesociety.in/#/celebration " target="_blank">Centenary Celebration</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a routerLink="/more/news" routerLinkActive="active" target="_blank">News</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a (click)="open(content)" target="_blank">Birthday</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="http://www.cesociety.in/#/counselling" target="_blank">Free counseling</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- MOBILEMENU -->
        <nav class="navbar navbarn navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <!-- <span class="navbar-toggler-icon"> </span> -->
                <!-- <img class="navbar-toggler-icon" src="assets/images/shape/icon.png" alt=""> -->
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                <ul class="nav-menu" style="padding: 25px!important;">
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/home" routerLinkActive="active">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://www.cesociety.in/#/home/main" target="_blank">CES
                                    Home</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        routerLink="/basic/about" routerLinkActive="active">About Us</a>

                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Gallery/Media</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/gallery/photos"
                                    routerLinkActive="active">Photos</a> </li>
                            <li><a class="dropdown-item" routerLink="/more/magazine" routerLinkActive="active">Our
                                    Magazine</a> </li>
                        </ul>
                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            routerLink="/basic/infrastructure" routerLinkActive="active">Infrastructure</a>

                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Department</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/department/staff" routerLinkActive="active">Staff
                                    Details</a> </li>
                            <li><a class="dropdown-item" routerLink="/department/student"
                                    routerLinkActive="active">Student Details</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/basic/contact" routerLinkActive="active">Contact Us</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">More</a>
                        <ul class="dropdown-menu">
                            <!-- <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Department</a> </li> -->
                            <li><a class="dropdown-item" routerLink="/more/result" routerLinkActive="active">Results</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/more/news" routerLinkActive="active">News</a>
                            </li>
                            
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Student Corner</a>
                            </li>
                            <li><a class="dropdown-item" (click)="openLinks('forms')">Form</a> </li>
                            <li><a class="dropdown-item" (click)="openLinks('report')">Reports</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- MOBILEMENU -->

        <div class="menu-area menu-sticky">
            <!-- main-menu -->
            <div class="container" style="max-width:1750px;">
                <div class="row y-middle" style="background-color: #1f7349 ; height: 50px;">
                    <div class="col-lg-12 text-end">
                        <div class="rs-menu-area">
                            <div class="main-menu">

                                <nav class="rs-menu">
                                    <ul class="nav-menu">

                                        <li class="menu-item">
                                            <a routerLink="/home" routerLinkActive="active">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://www.cesociety.in/#/home/main" target="_blank">CES
                                                        Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink="/basic/about" routerLinkActive="active">About Us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>Gallery/Media</a>

                                            <ul class="sub-menu">
                                                <li><a routerLink="/gallery/photos" routerLinkActive="active">Photos</a>
                                                </li>
                                                <li><a routerLink="/more/magazine" routerLinkActive="active">Our
                                                        Magazine Balmitra</a> </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item">
                                            <a routerLink="/basic/infrastructure"
                                                routerLinkActive="active">Infrastructure</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>Department</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/department/staff" routerLinkActive="active">Staff
                                                        Details</a> </li>
                                                <li><a routerLink="/department/student"
                                                        routerLinkActive="active">Student Details</a> </li>
                                            </ul>
                                        </li>
                                    
                                        <li class="">
                                            <a routerLink="/basic/contact" routerLinkActive="active">Contact Us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a routerLink="" routerLinkActive="active">More</a>
                                            <ul class="sub-menu">
                                                <!-- <li><a routerLink="" routerLinkActive="active">Department</a> </li> -->
                                                <li><a routerLink="/more/result" routerLinkActive="active">Results</a>
                                                </li>
                                                <li>
                                                    <a routerLink="/more/news" routerLinkActive="active">News</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a>Student Corner</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item-has-children current-menu-item">
                                                            <a routerLink="/more/academic-calendar"
                                                                routerLinkActive="active">Academic Calendar</a>
                                                        </li>
                                                        <li class="current-menu-item">
                                                            <a (click)="openLinks('syllabus')">Syllabus</a>
                                                        </li>
                                                        <li class="menu-item-has-children current-menu-item">
                                                            <a routerLink="/more/paper" routerLinkActive="active">Old
                                                                Question Papers</a>
                                                        </li>
                                                        <li class="menu-item-has-children current-menu-item">
                                                            <a routerLink="/more/scholarships"
                                                                routerLinkActive="active">Scholarships for Students</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a (click)="openLinks('forms')">Form</a>
                                                </li>
                                                <li>
                                                    <a (click)="openLinks('report')">Reports</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-menu -->
            <!-- stickymenu -->
            <div style="max-width:100%;">
                <div class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
                    <!-- <img src="assets/images/CES_logo.png" alt=""> -->
                    <div class="row" style="background-color: #1f7349 ; height: 50px;">
                        <div class="col-lg-2 text-end mt-10">
                            <a routerLink="/home" routerLinkActive="active">
                                <img src="assets/images/logo/2.png" alt="" width="45%">
                            </a>
                        </div>
                        <div class="col-lg-10 text-start" style="margin-top: 5px;">
                            <div class="rs-menu-area jc">
                                <div class="main-menu">
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">

                                            <li class="menu-item-has-children">
                                                <a routerLink="/home" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="http://www.cesociety.in/#/home/main"
                                                            target="_blank">CES Home</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a routerLink="/basic/about" routerLinkActive="active">About Us</a>
                                             
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a>Gallery/Media</a>

                                                <ul class="sub-menu">
                                                    <li><a routerLink="/gallery/photos"
                                                            routerLinkActive="active">Photos</a> </li>
                                                    <li><a routerLink="/more/magazine" routerLinkActive="active">Our
                                                            Magazine Balmitra</a> </li>
                                                </ul>
                                            </li>

                                            <li class="menu-item">
                                                <a routerLink="/basic/infrastructure"
                                                    routerLinkActive="active">Infrastructure</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a>Department</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/department/staff"
                                                            routerLinkActive="active">Staff Details</a> </li>
                                                    <li><a routerLink="/department/student"
                                                            routerLinkActive="active">Student Details</a> </li>
                                                </ul>
                                            </li>
                                            
                                            <li class="">
                                                <a routerLink="/basic/contact" routerLinkActive="active">Contact Us</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a routerLink="" routerLinkActive="active">More</a>
                                                <ul class="sub-menu">
                                                    <!-- <li><a routerLink="" routerLinkActive="active">Department</a> </li> -->
                                                    <li><a routerLink="/more/result"
                                                            routerLinkActive="active">Results</a>
                                                    </li>
                                                    <li><a routerLink="/more/news" routerLinkActive="active">News</a>
                                                    </li>
                                                    <li class="menu-item-has-children">
                                                        <a>Student Corner</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item-has-children current-menu-item">
                                                                <a routerLink="/more/academic-calendar"
                                                                    routerLinkActive="active">Academic Calendar</a>
                                                            </li>
                                                            <li class="current-menu-item">
                                                                <a (click)="openLinks('syllabus')">Syllabus</a>
                                                            </li>
                                                            <li class="menu-item-has-children current-menu-item">
                                                                <a routerLink="/more/paper"
                                                                    routerLinkActive="active">Old
                                                                    Question Papers</a>
                                                            </li>
                                                            <li class="menu-item-has-children current-menu-item">
                                                                <a routerLink="/more/scholarships"
                                                                    routerLinkActive="active">Scholarships for
                                                                    Students</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a (click)="openLinks('forms')">Form</a>
                                                    </li>
                                                    <li>
                                                        <a (click)="openLinks('report')">Reports</a>

                                                        <a>Annual Reports</a>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        < </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stickymenu -->
        </div>

        <!-- stickymenu -->
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <div class="icon-part" style="margin: 10px 20px 10px 20px !important;">
                    <img src="assets/images/cake.png" alt="">
                </div>
                <h4 class="modal-title" id="modal-basic-title" style="text-align: center;">Wish List of the Day !
                </h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <div classs="row">
                    <p style="text-align: center; color: #ffcc00;" *ngIf="staffDataTable.length==0"><strong>
                            There are no wishes to be made today!
                        </strong></p>
                </div>


                <div class="row" *ngFor="let s of staffDataTable;let i=index">
                    <div class="col-1">
                        <p style="text-align: center;"><strong>{{i+1}}</strong></p>
                    </div>
                    <div class="col-2">
                        <img src="http://localhost:9000{{s.profile_image}}" class="img-thumbnail" alt="wedrfgthyuj" />
                    </div>
                    <div class="col-5">
                        <p>
                            <strong>
                                {{s.name}} <br>
                                {{s.instituteName}},<br>
                                {{s.departmentName}},<br>
                                {{s.designation}},<br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-4">
                        <ul class="address-widget">
                            <li class="mt-3">
                                <div class="desc">
                                    <i class="flaticon-call" style="color: black;"></i> <a
                                        href="tel:{{s.contact}}">{{s.contact}}</a>
                                </div>
                            </li>
                            <li>
                                <div class="desc">
                                    <i class="flaticon-email" style="color: black;"></i> <a href="mailto:{{s.email}}">
                                        {{s.email}}</a> <br>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr *ngIf="staffDataTable.length>1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">
                    <i class="fa fa-times" aria-hidden="true"></i> Close</button>
            </div>
        </ng-template>
    </header>

</div>