<div id="rs-about" class="rs-about style1 pt-100 pb-10 md-pb-70" *ngIf="newsData.length>0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcesociety&tabs=timeline&width=700&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="700" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="col-lg-6 pt-60 md-pt-10 ">
                <div class="notice-bord style1">
                    <ul>
                        <div class="row">
                            <div class="title text-center">
                                <h3 style="color: white;">Latest News</h3>
                            </div>
                            <div class="col-lg-12" *ngFor="let n of newsData ">
                                <li class="wow fadeInUp mb-4" data-wow-delay="300ms" data-wow-duration="2000ms">
                                    <div class="date"><span>{{n.date |date}}</span></div>
                                    <div class="desc">
                                        <div [innerHTML]="n.message"></div>
                                        <a href="http://localhost:9000{{n.files}}" target="_blank"
                                            *ngIf="n.files!='null'">
                                            Download</a>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="row mt-4">
                    <div class="col text-center">
                        <!-- <button type="submit"  routerLink="/more/news" style="align-items: center;">More News</button> -->
                        <a routerLink="/more/news" routerLinkActive="active"
                            class="btn btn-sm btn-outline-white mb-0">More News <i class="fa fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->