.rs-about.style1 .about-part {
    background: none;
    padding: 0px 60px 70px;
    border-radius: 5px;
    margin-top: -60px;
    
}

.btn-outline-white {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1f7349;
    }
    .btn {
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    outline: 0;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
    .btn-sm, .btn-group-sm>.btn {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4;
    border-radius: 50px;
    }