<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/cems/about.JPG" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <!-- <div class="sub-title">Open Round Starts From 29th June 2022 onwards.</div> -->
                    <h2 class="title purple-color">Reports </h2>
                    <!-- <div class="desc pr-124 md-pr-15">
                    <a href="http://www.spuvvn.edu/students_corner/admissions/" target="_blank">Students can fill online form  on S P University's website.
                        For instructions and details kindly visit :</a>
                    </div> -->
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6 single-facility">
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="assets/images/cems/Reports/Annual%20Report%2021-22%20Part%201.pdf" target="_blank">
                                        Annual Report 2021-22 Part 1</a> </h4>
                                </div>
                            </div>
                            
                           
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                    
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="assets/images/cems/Reports/Annual%20Report%2021-22%20%20Part%202.pdf" target="_blank">Annual Report 2021-22 Part 2</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="assets/images/cems/Reports/CEMS%20Annual%20Report%202019-20%20Part%202.pdf" target="_blank">Annual Report 2019-20 Part-2</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="assets/images/cems/Reports/CEMS%20Annual%20Report%202019-20_part%201.pdf" target="_blank">Annual Report 2019-20 Part-1</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6 single-facility">
                           
                            
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="assets/images/cems/Reports/Annual%20Report%202018-19.pdf" target="_blank">Annual Report 2018-19</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="assets/images/cems/Reports/Annual_Report_Part2.pdf" target="_blank">Annual Report 2017-18 - Part2</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="assets/images/cems/Reports/Annual_Report_Part1.pdf" target="_blank">Annual Report 2017-18 - Part1</a></h4>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Section End -->