<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">
                            <div class="content white-bg pt-30">
                                <!-- Cource Overview -->
                                <div class="course-overview">
                                    <div class="inner-box ">
                                        <div class="checkout-title mb-30">
                                            <h3 style="text-align: center;">Balmitra Magazines</h3>
                                        </div>
                                        <div class="row">
                                            <h4 style="color: red;text-align: center;" *ngIf="magazine.length==0">
                                                Data
                                                Not Found !</h4>
                                            <div class="col-lg-3 mb-30 col-md-3"
                                                *ngFor="let c of magazine | paginate: {id:'listing1', itemsPerPage: 12, currentPage: pa };let i=index">
                                                <div class="gallery-img">
                                                    <a href="http://localhost:9000{{c.files}}" target="_blank">
                                                        <img src="assets/images/magazine.jpg" alt="">
                                                        <div class="mt-2" style="text-align: center !important;">
                                                            <span>{{c.title}}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="magazine.length>0">
                                            <div class="col text-end">
                                                <pagination-controls id="listing1" (pageChange)="pa = $event">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body><p>magazine works!</p>
