<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22"> The journey of Charotar English Medium School</div>
                    <p class="desc mb-45">
                        commenced with 15 students in junior KG on 11 June 1998 in the premise of Sardar Patel Balshala
                        at khetiwadi Campus. With the increasing strength of our students and necessity of space, the
                        school was housed in independent premises named Vitthal Kaka Bhavan in 2005. With the constant
                        support of our stake holders and the management, the school has reflected exponential growth and
                        so a new building came into existence with ultra modern infrastructure in 2011. At present CEMS
                        offers English Medium education from Pre – Primary to Higher Secondary (Science & Commerce
                        Streams). Our students have brought laurels by scoring 100% Result in board examination. CEMS
                        truly is an institution with a difference with affordable fees for providing quality education!
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->