<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">
                    
                    <!-- Content Column -->
                    <div class="col-lg-7 md-mb-50 mt-10">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">

                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>FEE NOTIFICATION</h4>
                                                <p>This is to inform the parents that the school will comply with the decision of Gujarat Self Financed Schools ( Regulation of fees) Act 2017. 
                                                </p>
                                                <p>આથી શાળાના વાલીશ્રીઓને જણાવવાનું કે ગુજરાત સેલ્ફાઈનાન્સડ સ્કૂલ્સ (રેગ્યુલેશન ઓફ ફીસ) એક્ટ ૨૦૧૭ નું શાળા સંપૂર્ણ પાલન કરશે.</p>
                                                <img src="assets/images/cems/FeeStructure.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Column -->
                    <div class="video-column col-lg-5">
                        <div class="inner-column">
                            <div class="course-features-info" style="margin: 10px;">
                                <h5> SCHOOL SESSIONS</h5>
                                <table>
                                    <tr>
                                        <th rowspan="2">Std.</th>
                                        <th colspan="2">English Medium</th>
                                    </tr>
                                    <tr>
                                        <td>Regular Time</td>
                                        <td>6 Days of Week</td>
                                    </tr>
                                    <tr>
                                        <td>Nursery, LKG, HKG</td>
                                        <td>08:00 am to 12:30 pm</td>
                                        <td>Monday to Friday</td>
                                    </tr>
                                    <tr>
                                        <td>1st to 12th (Comm.)
                                        </td>
                                        <td>07:30 am to 01:00 pm</td>
                                        <td>Monday to Saturday</td>
                                    </tr>
                                    <tr>
                                        <td>11th to 12th (Science)</td>
                                        <td>07:30 am to 02:00 pm</td>
                                        <td>Monday to Saturday</td>
                                    </tr>
                                </table>
                                
                            </div>
                            <div class="course-features-info" style="margin: 10px;">
                                <h5>School Sessions & Vacations</h5>
                                <table>
                                    <tr>
                                        <td rowspan="4">Term-1</td>
                                        <td>Academic</td>
                                        <td>Dt. 07/06/2021, Monday to Dt. 26/08/2021, Thursday</td>
                                    </tr>
                                    <tr>
                                        <td>Janmashtami Holiday
                                        </td>
                                        <td>Dt. 27/08/2021, Friday to Dt. 30/08/2021, Monday</td>
                                    </tr>
                                    <tr>
                                        <td>Academic</td>
                                        <td>Dt. 31/08/2021, Tuesday to Dt. 29/10/2021, Friday</td>
                                    </tr>
                                    <tr>
                                        <td>Diwali Vacation
                                        </td>
                                        <td>Dt. 30/10/2021, Saturday to Dt. 19/11/2021, Friday</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="6">Term-2</td>
                                        <td>Academic
                                        </td>
                                        <td>Dt. 20/11/2021, Saturday to Dt. 12/01/2022, Wednesday</td>
                                    </tr>
                                    <tr>
                                        <td>Makar Sankranti Vacation</td>
                                        <td>Dt. 13/01/2022, Thursday to Dt. 16/01/2022, Sunday</td>
                                    </tr>
                                    <tr>
                                        <td>Academic
                                        </td>
                                        <td>Dt. 17/01/2022, Monday to Dt. 30/04/2022, Saturday</td>
                                    </tr>
                                    <tr>
                                        <td>Last day of The Year</td>
                                        <td>Dt. 30/04/2022, Saturday</td>
                                    </tr>
                                    <tr>
                                        <td>Summer Vacation
                                        </td>
                                        <td>Dt. 01/05/2022, Sunday to Dt. 04/06/2022, Saturday</td>
                                    </tr>
                                    <tr>
                                        <td>School reopens on
                                        </td>
                                        <td>Dt. 06/06/2022, Monday</td>
                                    </tr>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>

<app-footer></app-footer>