<app-header></app-header>
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22">Ambalal Balshala is run by the Charotar Education Society</div>
                    <p class="desc mb-10">
                        and is one of the most well-known and respected educational institutions in Gujarat. Children's
                        development in all areas and education are the primary goals. 
                    </p>
                    <p class="desc mb-10">
                        Motilal Amin Saheb, who was the creator of the Charotar Education Society, started the first
                        Gujarati school in 1919. It was inaugurated on September 13. 9-11-1926 "Ambalal Balshala" was
                        named in memory of self-helper Ambalal Motibhai Patel.
                    </p>
                    <p>Self-employed Mr. Ambalal Motibhai was born in Sojitra. His birth date was 17-9-1890. He studied
                        B.A. and he passed away from the plague. It occurred on June 2, 1918. The plague epidemic was a
                        major issue, and many people died from the illness instead of serving their fellow citizens or
                        were executed.</p>
                    
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
        <p>The school was initially home to only 30 students. The first student at Ambalal Balshala School
            was Purushottam Zaveribhai Patel. The first principal of the school was Mr. Keshavbhai H. It was
            recognized by the functioning academy that was part of Motibhai Adhyapak Mandir in 1945. Ambalal
            Balshala was founded with just one class, is now a bantam tree and has eight classes in each
            level. From 1926 to 2019, 60,364 pupils attended the school. The school was closed after the 5th
            grade. The student left school and attended Kumar D.N. High School and Kanya Kasturba Vidyalaya.
        </p>
    </div>
</div>
<!-- About Section End -->
<app-footer></app-footer>