<app-header></app-header>

<body class="defult-home">

<!-- Main content Start -->
<div class="main-content">
    <!-- Breadcrumbs End -->            

    <!-- Events Section Start -->
    <div class="rs-gallery pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
           <div class="row">
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/cems/photo/1.jpg"><img src="assets/images/cems/photo/1.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/cems/photo/1.jpg"><img src="assets/images/cems/photo/1.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/cems/photo/1.jpg"><img src="assets/images/cems/photo/1.jpg" alt=""></a>
                    </div>
               </div>
           </div>
        </div> 
    </div>
    <!-- Events Section End -->  

    
</div> 
<!-- Main content End --> 

</body>
<app-footer></app-footer>