<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="2000"
            [keyboard]="true" [pauseOnHover]="true" [wrap]="true" [activeId]="'slideTwo'" class="carousel">
            <ng-template ngbSlide *ngFor="let c of sliderImages;let i=index">
                <div class="picsum-img-wrapper">
                    <img src="http://localhost:9000{{c.image}}" alt="Random first slide">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>