<app-header></app-header>
<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <h4>CO CURRICULAR ACTIVITY</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button card-link" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">Clay
                                                        Modelling:</button>
                                                </div>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        The kids are instinctively motivated to explore clay’s inviting
                                                        soft and responsive sensory qualities. Experimenting with clay
                                                        engages and fosters intelligence, imagination and creativity and
                                                        also gives the children the confidence to communicate their
                                                        vision. Once children learn to express their visions in clay,
                                                        they can become empowered in ways that go far beyond the art
                                                        room.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                                        aria-expanded="false" aria-controls="collapsetwo">Art:</button>
                                                </div>
                                                <div id="collapsetwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">Art helps children sharpen
                                                        their visual qualities and turn their ideas and feelings into
                                                        reality. Each child is different and so is their interpretation
                                                        of things. We encourage children to use drawing and painting as
                                                        a means of thinking. Arts and Crafts activities will stimulate
                                                        child’s imagination & creativity, helping with physical & mental
                                                        development.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThree">Craft:</button>
                                                </div>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Craft teaches the students correct usage of tools and materials.
                                                        Making your wild imagination a truth by using conventional and
                                                        unconventional materials is what craft at JGIS is. From brand
                                                        new paper to construction waste, our children use everything to
                                                        create what they envision.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">Tod Fod Jod
                                                        Club:</button>
                                                </div>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Students work on a variety of projects and challenges such as
                                                        bridge building, cardboard boat designs and electronic circuits.
                                                        Basic understanding of how electricity works and how to build
                                                        simple and complex circuits may give students a competitive edge
                                                        for their future. Through Do it Yourself activities, the
                                                        students learn to practice and perform manual work individually
                                                        and collectively. They are also acquainted with the world of
                                                        work and services to the community. Children enthusiastically
                                                        participate in these productive activities and develop an
                                                        attitude of team work and socially desirable values like
                                                        self-reliance, dignity of labour, tolerance, co-operation,
                                                        sympathy and helpfulness. Children are learning Carpentry,
                                                        Plumbing, Electric work , Sewing, Ironing, Shoe polishing.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive"> Computer
                                                        Club:
                                                    </button>
                                                </div>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        In the technology driven times, it is school’s unvarying
                                                        enterprise to amalgamate technology in the school’s curriculum
                                                        to make learning an uplifting experience. Giving hands on
                                                        experience into the real world of computers, where they learn
                                                        and polish their skills in web designing and photo editing
                                                        tools. This enhances students’ artistic talents before the
                                                        computer screen.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">Dance:
                                                    </button>
                                                </div>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Dance is powerfully for developing many of the attributes of a
                                                        growing child. Dance is a natural method for learning basic form
                                                        of cultural expression.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                        aria-expanded="false" aria-controls="collapseSeven">Music:
                                                    </button>
                                                </div>
                                                <div id="collapseSeven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Playing music lights up your brain like no other activity. When
                                                        you are playing music, you are using so many different brain
                                                        areas, all at the same time.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                        aria-expanded="true" aria-controls="collapseEight">Physical
                                                        Education</button>
                                                </div>
                                                <div id="collapseEight" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        classes provide student with an opportunity to build confidence
                                                        and play alongside their peers. Inter class and Inter School
                                                        matches help build team spirit and competitiveness.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsenine"
                                                        aria-expanded="false"
                                                        aria-controls="collapsenine">Athletics:</button>
                                                </div>
                                                <div id="collapsenine" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">The sport of athletics is a
                                                        collection of sporting events that involve competitive running,
                                                        jumping, throwing, and walking. The most common types of
                                                        athletics competitions are track and field, road running, cross
                                                        country running, and race walking.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">

                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseTen">Basketball:</button>
                                                </div>
                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Basketball is a sport played by two teams of five players on a
                                                        rectangular court. The objective is to shoot a ball through a
                                                        hoop 18 inches (46 cm) in diameter and 10 feet (3.048 m) high
                                                        mounted to a backboard at each end.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                        aria-expanded="false"
                                                        aria-controls="collapseEleven">Chess:</button>
                                                </div>
                                                <div id="collapseEleven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Chess is a two-player strategy board game played on a
                                                        chessboard, a checkered game board with 64 squares arranged in
                                                        an eight-by-eight grid. Chess is played by millions of people
                                                        worldwide, both amateurs and professionals. Each player begins
                                                        the game with 16 pieces: one king, one queen, two rooks, two
                                                        knights, two bishops, and eight pawns. Each of the six piece
                                                        types moves differently. The most powerful piece is the queen
                                                        and the least powerful piece is the pawn. The objective is to
                                                        'checkmate' the opponent's king by placing it under an
                                                        inescapable threat of capture. To this end, a player's pieces
                                                        are used to attack and capture the opponent's pieces, while
                                                        supporting their own. In addition to checkmate, the game can be
                                                        won by voluntary resignation by the opponent, which typically
                                                        occurs when too much material is lost, or if checkmate appears
                                                        unavoidable. A game may also result in a draw in several ways.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                        aria-expanded="false" aria-controls="collapseTwelve"> Cricket:
                                                    </button>
                                                </div>
                                                <div id="collapseTwelve" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Cricket coaching will allow students to enjoy personal attention
                                                        with one of our qualified coaches. Our coaches will cover
                                                        specific points of the game with an aim to focus on the more
                                                        detailed aspects. Batting, bowling, fielding as well as mental
                                                        aspects of the game are covered in depth.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThirteen">Batting:</button>
                                                </div>
                                                <div id="collapseThirteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Front/back foot, error correction, planning, strategy, positive
                                                        thinking and focus exercises.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
                                                        aria-expanded="false" aria-controls="collapseFourteen">Bowling:
                                                    </button>
                                                </div>
                                                <div id="collapseFourteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Action, variation, planning, strategy, positive thinking and
                                                        focus exercises. </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFifteen"
                                                        aria-expanded="false" aria-controls="collapseFifteen">Fielding
                                                        and Wicket-Keeping:
                                                    </button>
                                                </div>
                                                <div id="collapseFifteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">Catching, ground fielding
                                                        techniques, anticipation, feet movement & role definition.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSixteen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseSixteen">Volleyball:
                                                    </button>
                                                </div>
                                                <div id="collapseSixteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Volleyball is a team sport in which two teams of six players are
                                                        separated by a net. Each team tries to score points by grounding
                                                        a ball on the other team's court under organized rules.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeventeen"
                                                        aria-expanded="false" aria-controls="collapseSeventeen">Kabaddi:
                                                    </button>
                                                </div>
                                                <div id="collapseSeventeen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Kabaddi is played between two teams of seven players; the object
                                                        of the game is for a single player on offence—referred to as a
                                                        "raider"—to run into the opposing team's half of a court, tag
                                                        out as many of their defenders as possible, and return to their
                                                        own half of the court—all without being tackled by the
                                                        defenders. Points are scored for each player tagged by the
                                                        raider, while the opposing team earns a point for stopping the
                                                        raider. Players are taken out of the game if they are tagged or
                                                        tackled, but can be "revived" for each point scored by their
                                                        team from a tag or tackle.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<app-footer></app-footer>