<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-6">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Aim:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Get good and true education
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Get good manners
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Learn to respect parents.
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Respect elders
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Grow up and pay the debt of school and institution
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">To serve the society
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Become a good citizen of the country</span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Be useful to the country in the future</span>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5></h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <!-- <i class="fa fa-files-o"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Gain knowledge with fun
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <!-- <i class="fa fa-puzzle-piece"></i> -->
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label"> Irrigation of rituals

                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label"> Learn to follow time

                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label"> Learn to follow discipline

                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Understand the importance of cleanliness

                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Have faith in God
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Keep pace with modern education
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Developing inner strengths
                                        </span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Become strong with morale.
                                        </span>
                                    </li>

                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>