h4 {
    font-size: 16px;
}
.rs-degree.style1 .degree-wrap .content-part {
    background: #1f7349;
    padding: 35px 35px 0;
}
a:active, a:hover {
    color: #ffffff;
}
a {
    color: #ffffff;
}
.rs-degree.style1 .degree-wrap .content-part .title {
    margin-bottom: 0px;
}
.rs-degree.style1 .degree-wrap .content-part .desc {
    margin-bottom: 5px;
}