<div class="rs-counter style2-about mt-100 mb-100">
    <div class="container">
        <div class="row couter-area">
            <div class="col-lg-3 col-md-6 md-mb-30">
                <div class="counter-item text-center">
                    <h2 class="rs-count">{{projectCount + "+"}}</h2>
                    <h4 class="title mb-0">Finished Sessions</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 md-mb-30">
                <div class="counter-item text-center">
                    <h2 class="rs-count">{{projectCount1 + "+"}}</h2>
                    <h4 class="title mb-0">Enrolled Learners</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-mb-30">
                <div class="counter-item text-center">
                    <h2 class="rs-count">{{projectCount2 + "+"}}</h2>
                    <h4 class="title mb-0">Online Instructors</h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-item text-center">
                    <h2 class="rs-count">{{projectCount3 + "%"}}</h2>
                    <h4 class="title mb-0">Satisfaction Rate</h4>
                </div>
            </div>
        </div>
    </div>
</div>