<app-header></app-header>
<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <h4> INFRASTRUCTURE AND FACILITIES</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button card-link" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">Smart
                                                        classrooms</button>
                                                </div>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Interactive white boards are used for classroom teaching and
                                                        involve
                                                        students to learn with technology. It helps in better
                                                        comprehension of
                                                        the concepts. This upgraded integration provides advance
                                                        teaching
                                                        atmosphere by connecting students to the global information and
                                                        better
                                                        visual explanations.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                                                        aria-expanded="false" aria-controls="collapsetwo">Computer
                                                        Lab</button>
                                                </div>
                                                <div id="collapsetwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">The school has well equipped
                                                        computer
                                                        lab for primary, middle and secondary school. Every effort is
                                                        being made
                                                        to utilize the available facilities and develop computer
                                                        awareness in
                                                        each and every student. Computer learning has been recognized as
                                                        an
                                                        essential and useful tool of modern learning. All labs are
                                                        air-conditioned and equipped with a fire fighting systems.
                                                        All the Computer Labs are equipped with the latest hardware and
                                                        software as per the curriculum.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">Science
                                                        Lab</button>
                                                </div>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Provides an open environment for students to experiment and do
                                                        research work.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">Geography
                                                        ground</button>
                                                </div>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        To provide tools vital to modern geographic analysis and thus
                                                        creating interest in subject, offered as optional subject.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive"> Maths Lab
                                                    </button>
                                                </div>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Encourages the student to think and assimilate mathematical
                                                        concepts in a more effective manner.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false"
                                                        aria-controls="collapseSix">Library</button>
                                                </div>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        Vast collection of books to provide access to a rich array of
                                                        stories, ideas and information.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                        aria-expanded="false" aria-controls="collapseSeven">Activity
                                                        hall
                                                    </button>
                                                </div>
                                                <div id="collapseSeven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        A vibrant place to provide wings to the thoughts of our
                                                        students.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                        aria-expanded="true" aria-controls="collapseEight">Sports room &
                                                        playgrounds</button>
                                                </div>
                                                <div id="collapseEight" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        A wide plethora of indoor and outdoor games. CES conducts
                                                        Evening school training sessions for students in basket ball,
                                                        skating, chess, Volley Ball, Kabaddi, Shooting and badminton. In
                                                        recent years school team has bagged many prizes at inter school,
                                                        district and national level tournaments.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapsenine"
                                                        aria-expanded="false" aria-controls="collapsenine">Amphi
                                                        theatre</button>
                                                </div>
                                                <div id="collapsenine" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">An open air venue to conduct
                                                        classes in a different environment, also used for presentations
                                                        and programs
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">

                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                        aria-expanded="false" aria-controls="collapseTen">Staff
                                                        rooms</button>
                                                </div>
                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        The teachers' lounge equipped with facilities for effective
                                                        planning.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                        aria-expanded="false" aria-controls="collapseEleven">Assembly
                                                        ground</button>
                                                </div>
                                                <div id="collapseEleven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        A much awaited place by students as each morning brings a new
                                                        thought, igniting their minds.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                        aria-expanded="false" aria-controls="collapseTwelve"> Kids pool
                                                        and Play ground
                                                    </button>
                                                </div>
                                                <div id="collapseTwelve" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        To develop fine motor skills of our tiny tots.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseThirteen">Clubs</button>
                                                </div>
                                                <div id="collapseThirteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        To bring out hidden talents of our children we offer creative,
                                                        oratorical, dramatics, nature, fine arts, gardening, reading,
                                                        health and wellness, maths, science, katha, riyaz and harmony
                                                        club.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
                                                        aria-expanded="false" aria-controls="collapseFourteen">Activity
                                                        rooms
                                                    </button>
                                                </div>
                                                <div id="collapseFourteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        We have yoga, aerobics, dance, art & craft and music room for
                                                        holistic development of children.

                                                        To bring out hidden talents of our children we offer creative,
                                                        oratorical, dramatics, nature, fine arts, gardening, katha,
                                                        riyaz and harmony </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFifteen"
                                                        aria-expanded="false" aria-controls="collapseFifteen">Atal
                                                        Tinkering Lab
                                                    </button>
                                                </div>
                                                <div id="collapseFifteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        ATL is a work space where young minds can give shape to their
                                                        ideas through hands on do-it-yourself mode; and master
                                                        innovation skills. Young children will get an opportunity to
                                                        work with tools and equipment so as to comprehend the concepts
                                                        of STEAM (Science, Technology, Engineering and Math). ATL will
                                                        have educational and learning ‘do it yourself’ kits and
                                                        equipment on – science, electronics, robotics, open source
                                                        microcontroller boards, sensors and 3D printers and computers.
                                                        Moreover, the other desirable facilities are meeting rooms and
                                                        video conferencing. In order to foster inventiveness among
                                                        students, ATL will conduct different activities ranging from
                                                        regional and national level competitions, exhibitions, workshops
                                                        on problem solving, designing and fabrication of products,
                                                        lecture series etc. at periodic intervals </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSixteen"
                                                        aria-expanded="false" aria-controls="collapseSixteen">Physics
                                                        Lab
                                                    </button>
                                                </div>
                                                <div id="collapseSixteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        The Physics Laboratory is also well equipped with all the
                                                        apparatus and equipment as per the G.S.E.B. syllabus
                                                        requirement. Students are directed and encouraged to undertake
                                                        experiments themselves, though supervision is done by
                                                        experienced and trained faculty members. The lab also has a
                                                        darkroom to perform experiments.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeventeen"
                                                        aria-expanded="false"
                                                        aria-controls="collapseSeventeen">Chemistry Lab
                                                    </button>
                                                </div>
                                                <div id="collapseSeventeen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        We have a well-equipped and spacious Chemistry Laboratory with
                                                        the capacity to accommodate 50 students. We provide the latest
                                                        facilities to students for qualitative as well as quantitative
                                                        analysis according to the G.S.E.B. syllabus. Students learn and
                                                        absorb much more through pragmatic experiments under the
                                                        supervision of well qualified and experienced faculty members.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEighteen"
                                                        aria-expanded="false" aria-controls="collapseEighteen">Biology
                                                        Lab
                                                    </button>
                                                </div>
                                                <div id="collapseEighteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">
                                                        With the seating capacity for 40 students, the Biology
                                                        Laboratory is equipped with modern equipments and apparatus like
                                                        Projection Microscope and Binoculars. Students learn different
                                                        concepts of the living world through models and specimens
                                                        available in the Biology Laboratory.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <div class="row">
                <div class="col-lg-1 md-mb-50 mt-50"></div>
                <div class="col-lg-10 md-mb-50 mt-50">

                    <h4 class="title mb-17">Infrastructure:</h4>
                    <ul style="list-style-type: disc; margin-left: 9px;">
                        <li>The school has an 10-feet high boundary wall around the school premises which has been
                            increased with a 3-4 feet chain link to enhance the security of the institution.</li>
                        <li>Cameras have been installed in the classrooms, laboratories, office, as well as in the
                            corridor for safety of the students. Cameras have also been installed at the Main Gate of
                            CES as well as in the Parking Area which covers the entire campus ensuring complete safety
                            for students and staff.</li>
                        <li>Efficient security guards are appointed for patrolling day and night.</li>
                        <li>Each classroom has window grills and mosquito nets for ground floor.
                        </li>
                        <li>Laboratories are well equipped to handle common emergencies.</li>
                        <li>Sports room is spacious, well ventilated and well equipped to handle common sport injuries.
                        </li>
                        <li>The secluded corners, corridors, and stair cases are scrutinized by staff.</li>
                        <li>A direct intercom system is installed for speedy communication amongst the authorized
                            persons.</li>
                        <li>A multi-purpose public address system is installed to make public announcements in case of
                            an emergency.</li>
                        <li>Staircases and exits are constructed as per the safety norms.</li>
                    </ul>
                </div>
                <div class="col-lg-1 md-mb-50 mt-50"></div>
            </div>
            <div class="row">
                <div class="col-lg-1 md-mb-50 mt-50"></div>
                <div class="col-lg-10 md-mb-50 mt-50">

                    <h4 class="title mb-17">Bus Facility:</h4>
                    <ul style="list-style-type: disc; margin-left: 9px;">
                        <li>All norms and guidelines as per R.T.O. are complied for the school buses.</li>

                    </ul>
                </div>
                <div class="col-lg-1 md-mb-50 mt-50"></div>
            </div>
            <div class="row">
                <div class="col-lg-1 md-mb-50 mt-50"></div>
                <div class="col-lg-10 md-mb-50 mt-50">

                    <h4 class="title mb-17">Emergency Situations:</h4>
                    <ul style="list-style-type: disc; margin-left: 9px;">
                        <li>Fire Extinguishers and essential Fire Hydrants are placed in school at various locations and
                            maintained regularly.</li>
                        <li>Fire evacuation plan is displayed at different places in the building. Students know and
                            understand the evacuation plan to avoid stampede in case of disaster. Regular mock drills
                            are conducted.</li>
                        <li>Emergency helpline numbers are displayed at prominent places in the school premises. An
                            alarm system with sound modulation to alert is in place for all kinds of contingencies. Mock
                            drill practice and observations are taken, and follow up is done on a regular basis.
                            Disaster management training in case of fire, earthquake, and other emergencies has been
                            provided to the staff, senior students and security personnel.</li>
                        <li>Regular preventive checks to ensure safety related to higher risk areas –electrical, fire,
                            civil work, school gates, transport, etc.</li>
                    </ul>
                </div>
                <div class="col-lg-1 md-mb-50 mt-50"></div>
            </div>
            <div class="row">
                <div class="col-lg-1 md-mb-50 mt-50"></div>
                <div class="col-lg-10 md-mb-50 mt-50">

                    <h4 class="title mb-17">Workshops/Seminars:</h4>
                    <ul style="list-style-type: disc; margin-left: 9px;">
                        <li>Right from the Pre-Primary Section, children are made aware of Good Touch and Bad Touch.
                            Self-defense workshops, first-aid trainings, medical checkups, by well-trained personnel are
                            regularly organized for the staff members. Self-defense training is given to the girl
                            students.</li>
                    </ul>
                </div>
                <div class="col-lg-1 md-mb-50 mt-50"></div>
            </div>
            <div class="row">
                <div class="col-lg-1 md-mb-50 mt-50"></div>
                <div class="col-lg-10 md-mb-50 mt-50">

                    <h4 class="title mb-17">Health And Hygiene:</h4>
                    <ul style="list-style-type: disc; margin-left: 9px;">
                        <li>Provision for RO drinking water and quality is ensured by regular chemical analysis of water
                            sample.</li>
                        <li>Health reports are maintained by the school.</li>
                        <li>Dental, paediatric and eye checkups are done.</li>
                        <li>Adult education programmes are conducted for students to ensure emotional stability and
                            hygiene during adolescence period.</li>
                    </ul>
                </div>
                <div class="col-lg-1 md-mb-50 mt-50"></div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>