<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Jyotiben Patel
                        <br>
                        <span>- Principal, Ambalal Balshala</span>
                    </h5>
                    <p>We the members of Ambalal Balshala feel that every child is unique and he/she
                        should be equipped to combat the challenges of the competitive world in a befitting way. He/she
                        must not be left behind in the race of life. Our school is managed by the CHAROTAR EDUCATION
                        SOCIETY. This infrastructure facility can
                        make your child excel in real life. </p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/cems/principal.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>We aim that our students would shine in every sphere of life. We also sincerely expect that our
                        students would provide quality leadership to the nation in the years to come. We dream of
                        producing quality professional with strong basic human values. Hence we solicit strong support
                        from our parents in our mission. We strongly feel that this school would play a major role in
                        shipping the future of your child.
                    </p>
                    <p>Education is molding and individual to perform better in any field of his/her choice. It can be
                        passed on from our generation to another without any hindrance. Education here at Ambalal Balshala can further change the destiny of your child. The destiny of the nation is
                        shaped in classrooms.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>